.wrapper {
    width: 100%;
    min-width: 450px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
}

@media screen and (min-width: 1080px) {
    body {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.myNav {
    background-color: #FFF;
    min-width: inherit;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0rem!important;
        padding-left: 0rem!important;
    }
}

#navbarNav {
    justify-content: flex-end;
}

#logo {
    float: left;
    font-size: 180%;
    font-family: 'El Messiri', sans-serif;
    margin-left: 2rem;
}

ul li .nav-link {
    padding: .3rem;
    margin-right: 3rem;
    margin-right: 3rem;
    font-family: 'El Messiri', sans-serif;
    font-size: 12pt;
}

.carousel-item .img-fluid {
    object-fit: contain;
    max-height: 100%;
    width: auto;
}

#carouselControls {
    padding: 35px;
    background-color: rgb(245, 245, 245);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#about {
    background-color: white;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-area {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row {
    margin-right: 10px;
    margin-left: 10px;
}

.about-text {
    padding-top: 30px;
    margin-left: 39px;
    margin-right: 4;
}

.about-text>h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

.about-text>h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 15px 0 33px;
    text-transform: capitalize;
    line-height: 40px;
}

p {
    margin: 0 0 15px;
    font-family: 'Oxygen', sans-serif;
    line-height: 26px;
    font-size: 14px;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#portfolio-area {
    background-color: rgb(245, 245, 245);
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio-container {
    padding-top: 15px;
}

.section-title>h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    position: relative;
    text-transform: capitalize;
}

hr {
    width: 65px;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.port-item {
    padding-bottom: 15px;
}

div:hover>.hover {
    transform: translateY(-10px) scale(1.02);
    background-color: black;
    opacity: 0.8;
}

#play-area {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-area {
    padding-top: 50px;
    padding-bottom: 170px;
    background-color: rgb(245, 245, 245);
}

#contact-form {
    max-width: 80vw;
}

.di-na {
    margin-bottom: 15px;
}

.tnm-textarea {
    width: 100%;
    padding: 15px 20px;
    height: 100px;
}

.di-na input,
.tnm-textarea textarea {
    background-color: #fff;
    border: inherit;
    border-radius: 0px;
    box-shadow: inherit;
    color: #666;
    font-size: 13px;
    height: 44px;
    outline: medium none;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}

.submit {
    text-align: center;
    margin-bottom: 40px;
}

.submit input {
    background-color: #444;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 40px;
    text-transform: uppercase;
    border: 1px solid #666;
    transition: all 0.3s ease 0s;
    -webkit-appearance: button;
    cursor: pointer;
}

#mymail {
    color: rgba(0, 0, 0, 0.5);
}